/* 
.party-left-card {
  height: 80vh; 
  overflow-y: auto;
}


.party-right-card {
  height: 80vh;
  overflow-y: auto;
  border-left: 5px solid #cce7f3;
  padding-left: 20px;
}


.header-buttons .btn {
  min-width: 120px;
}


.party-list-item:hover {
  background-color: #f1f5f9;
  cursor: pointer;
}


.party-list-item.active {
  background-color: #d7ecff;
} */
/* Override Bootstrap table background */

