.cooly-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.cooly-form-container {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cooly-container {
  padding: 20px;
}

.cooly-form-container {
  max-width: 900px;
  margin: 0 auto;
}

.form-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-box h5 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #333;
}

.update-button {
  padding: 10px 30px;
  font-size: 1.1rem;
}
